h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 75px;
}



.top-margin {
    margin-top: 30px;
}



  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {  
    .top-padding {
        padding-top: 30px;
    }
    img {
        width: 100%;
    }
    .container {
        padding-left: 25px;
    }
   h1 {
       font-size: 60px;
   }
  }