h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
}


.container {
    margin-top: 70px;
}

img {
    margin-left: 40px;
    float: right;
}

.top-margin {
    margin-top: 40px;
}

.float-left {
    float: left;
}